body {
  margin: auto;
  max-width: 100%;
}

#gameBoard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 1000px;
    max-width: 100%;
    margin: 50px auto;
}

.cupcake {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.iceCreamSundae {
  width: 25px;
  height: 25px;
  border-radius: 0;
}

/*----------TILES----------*/

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -31px;
}

.tiles {
  position: relative;
}

.tileSize {
  width: 100px;
  max-width: 100%;
}

/*----------GAME PIECES PLACEMENT (buildings)----------*/

.building {
  position: absolute;
  display: inline;
  z-index: 30;
}

.upperBuilding {
  top: -17px;
  right: 0px;
  left: 0px;
  margin: auto;
}

.topRightBuilding {
  top: 5px;
  right: -15px;
}

.topLeftBuilding {
  top: 5px;
  left: -15px;
}

.bottomRightBuilding {
  top: 68px;
  right: -15px;
}

.bottomLeftBuilding {
  top: 68px;
  left: -15px;
}

.bottomBuilding {
  top: 90px;
  right: 0px;
  left: 0px;
  margin: auto;
}

/*----------GAME PIECES PLACEMENT (roads)----------*/

.road {
  position: absolute;
  z-index: 20;
  display: inline;
  height: 45px;
  width: 5px;
  border: 1px solid black;
}

.leftRoad {
  right: 96px;
  top: 35px;
}

.rightRoad {
  left: 96px;
  top: 35px;
}

.topLeftRoad {
  left: 23px;
  top: -8px;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}

.topRightRoad {
  left: 73px;
  top: -8px;
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

.bottomLeftRoad {
  left: 23px;
  top: 78px;
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

.bottomRightRoad {
  left: 73px;
  top: 78px;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}

/*----------EMPTY DIVS FOR SELECTING TILES----------*/

.check {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 5px;
  margin: auto;
  height: 93px;
  width: 93px;
  border-radius: 100%;
  background-color: transparent;
  z-index: 10000;
}

/*----------NUMBER TILES----------*/


.numbers {
  max-width: 100%;
  position: absolute;
  height: 55px;
  width: 55px;
  z-index: 50;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/*----------CONTROLS AND DISPLAYS AROUND THE GAMEBOARD----------*/

#startNewGame {
  position: fixed;
  top: 35%;
  left: 1%;
}

#currentPlayer {
  height: 120px;
  width: 150px;
  position: fixed;
  bottom: 5px;
  left: 8px;
  text-align: center;
  margin: auto;
}

#playerName {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: auto;

}

.currentPlayerImage {
  height: 100px;
  margin-top: 10px;
  padding: 10px;
}

#bakingRequirements {
  position: fixed;
  bottom: 5px;
  right: 0;
  width: 180px;
  height: 300px;
}

#moveThief {
  position: fixed;
  top: 40%;
  right: 3%;
}

#thief {
  z-index: 1000;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.bakingInstructions {
  position: fixed;
  bottom: 5px;
  right: 0;
  width: 250px;
  height: 300px;
  margin-right: -20px;
}

/*----------TILE SELECTOR CONTROLS (churros)----------*/

.radioTile {
  width: 150px;
  padding: 10px;
}

#roadSelection {
  width: 150px;
  height: 200px;
  font-size: .8em;
  position: fixed;
  top: 0;
  left: 5px;
}

.churroLocation {
  position: absolute;
  height: 55px;
  width: 10px;
  z-index: 20;
  background-color: red;
  display: inline;
}

.churroLocation:hover {
  background-color: green !important;
}

#locationTopLeftChurro {
  left: 54px;
  top: 24px;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}

#locationTopRightChurro {
  right: 54px;
  top: 24px;
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

#locationMiddleLeftChurro {
  top: 85px;
  left: 17px;
}

#locationMiddleRightChurro {
  top: 85px;
  right: 17px;
}

#locationBottomRightChurro {
  right: 54px;
  bottom: 7px;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}

#locationBottomLeftChurro {
  left: 54px;
  bottom: 7px;
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

/*----------TILE SELECTOR CONTROLS (desserts)----------*/

#buildingSelection {
  width: 150px;
  height: 200px;
  font-size: .8em;
  position: fixed;
  top: 0;
  right: 5px;
}

.dessertLocation {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-color: red;
  position: absolute;
}

.dessertLocation:hover {
  background-color: green !important;
}

#locationTopDessert {
  top: 22px;
  left: 81px;
}

#locationTopLeftDessert {
  top: 60px;
  left: 10px;
}

#locationTopRightDessert {
  top: 60px;
  right: 10px;
}

#locationBottomLeftDessert {
  bottom: 42px;
  left: 10px;
}

#locationBottomRightDessert {
  bottom: 42px;
  right: 10px;
}

#locationBottomDessert {
  bottom: 3px;
  left: 81px;
}
