body {
  margin: auto;
  max-width: 100%;
}

#roadSelection {
  width: 200px;
  font-size: .8em;
  float: left;
}

#gameBoard {
  margin: auto;
  max-width: 1000px;
  height: 1000px;
}

.tiles {
 position: relative;
}

.imageSize {
  max-width: 100px;
}

#main-header {
  text-align: center;
}

#topRow {
  position: relative;
  display: block;
  top: 0;
}
#hex1 {
  position: absolute;
  left: 35%;
  display: inline-block;
  max-width: 100%;
}

.leftRoad {
  position: absolute;
  left: -2px;
  top: 35px;
  height: 45px;
  width: 5px;
  background-color: blue;
  z-index: 20;
  display: inline;
}

.rightRoad {
  position: absolute;
  left: 97.5px;
  top: 35px;
  height: 45px;
  width: 5px;
  background-color: blue;
  z-index: 20;
  display: inline;
}

.topLeftRoad {
  position: absolute;
  left: 23px;
  top: -8px;
  height: 45px;
  width: 5px;
  background-color: blue;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}

.topRightRoad {
  position: absolute;
  left: 73px;
  top: -8px;
  height: 45px;
  width: 5px;
  background-color: green;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

.bottomLeftRoad {
  position: absolute;
  left: 23px;
  top: 78px;
  height: 45px;
  width: 5px;
  background-color: green;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

.bottomRightRoad {
  position: absolute;
  left: 73px;
  top: 78px;
  height: 45px;
  width: 5px;
  background-color: green;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}
#hex2 {
  position: absolute;
  left: 45%;
  display: inline-block;
}

#hex3 {
  position: absolute;
  left: 55%;
  display: inline-block;
}

#BelowTopRow {
  position: relative;
  display: block;
  top: 87px;
}

#hex4 {
  position: absolute;
  left: 30%;
  display: inline-block;
}

#hex5 {
  position: absolute;
  left: 40%;
  display: inline-block;
}

#hex6 {
  position: absolute;
  left: 50%;
  display: inline-block;
}

#hex7 {
  position: absolute;
  left: 60%;
  display: inline-block;
}

#middleRow {
  position: relative;
  display: block;
  top: 174px;
}

#hex8 {
  position: absolute;
  left: 25%;
  display: inline-block;
}

#hex9 {
  position: absolute;
  left: 35%;
  display: inline-block;
}

#hex10 {
  position: absolute;
  left: 45%;
  display: inline-block;
}

#hex11 {
  position: absolute;
  left: 55%;
  display: inline-block;
}

#hex12 {
  position: absolute;
  left: 65%;
  display: inline-block;
}

#AboveBottomRow {
  position: relative;
  display: block;
  top: 261px;
}

#hex13 {
  position: absolute;
  left: 30%;
  display: inline-block;
}

#hex14 {
  position: absolute;
  left: 40%;
  display: inline-block;
}

#hex15 {
  position: absolute;
  left: 50%;
  display: inline-block;
}

#hex16 {
  position: absolute;
  left: 60%;
  display: inline-block;
}

#bottomRow {
  position: relative;
  display: block;
  top: 348px;
}

#hex17 {
  position: absolute;
  left: 35%;
  display: inline-block;
}

#hex18 {
  position: absolute;
  left: 45%;
  display: inline-block;
}

#hex19 {
  position: absolute;
  left: 55%;
  display: inline-block;
}
