body {
  margin: auto;
  max-width: 100%;
}

#main-header {
  text-align: center;
}
/*----------container divs----------*/

#gameBoard {
  margin: auto;
  max-width: 1000px;
  height: 1000px;
}

.tiles {
  position: absolute;
  display: inline-block;
}
.numbers {
  position: absolute;
  display: inline-block;
  z-index: 30;
  top: 30px;
}
/*----------image size----------*/

.numberSize{
  max-width: 50px;
}

.imageSize {
  max-width: 100px;
}
/*--------------------*/

.cupCake {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: blue;
  z-index: 19;
  display: inline;
}

.iceCreamSunday {
  position: absolute;
  top: 20px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-color: blue;
  z-index: 30;
  display: inline;
}

#hexagon {
  width: 100px;
  height: 55px;
  background: red;
  position: relative;
  display: inline-block;
}
/*----------road divs----------*/

.leftRoad {
  position: absolute;
  left: -2px;
  top: 35px;
  height: 45px;
  width: 5px;
  background-color: blue;
  z-index: 20;
  display: inline;
}

.rightRoad {
  position: absolute;
  left: 97.5px;
  top: 35px;
  height: 45px;
  width: 5px;
  background-color: blue;
  z-index: 20;
  display: inline;
}

.topLeftRoad {
  position: absolute;
  left: 23px;
  top: -8px;
  height: 45px;
  width: 5px;
  background-color: blue;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}

.topRightRoad {
  position: absolute;
  left: 73px;
  top: -8px;
  height: 45px;
  width: 5px;
  background-color: green;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

.bottomLeftRoad {
  position: absolute;
  left: 23px;
  top: 78px;
  height: 45px;
  width: 5px;
  background-color: green;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

.bottomRightRoad {
  position: absolute;
  left: 73px;
  top: 78px;
  height: 45px;
  width: 5px;
  background-color: green;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}
/*----------number tiles----------*/

#number2 {
  left: 37.5%;
}

#number3a {
  left: 47.5%;
}

#number3b {
  left: 57.5%;
}

#number4a {
  left: 32.5%;
}

#number4b {
  left: 42.5%;
}

#number5a {
  left: 52.5%;
}

#number5b {
  left: 62.5%;
}

#number6a {
  left: 27.5%;
}

#number6b {
  left: 37.5%;
}

#number8a {
  left: 47.5%;
}

#number8b {
  left: 57.5%;
}

#number9a {
  left: 67.5%;
}

#number9b {
  left: 42.5%;
}

#number10a {
  left: 52.5%;
}

#number10b {
  left: 62.5%;
}

#number11a {
  left: 37.5%;
}

#number11b {
  left: 47.5%;
}

#number12 {
  left: 57.5%;
}
/*----------boarder tiles----------*/

#topBoarder {
  top: 0px;
}

#boarder1 {
  left: 30%;
}

#boarder2 {
  left: 40%;
}

#boarder3 {
  left: 50%;
}

#boarder4 {
  left: 60%;
}

#boarder5 {
  left: 25%;
}

#boarder6 {
  left: 65%;
}

#boarder7 {
  left: 20%;
}

#boarder8 {
  left: 70%;
}

#boarder9 {
  left: 15%;
}

#boarder10 {
  left: 75%;
}

#boarder11 {
  left: 20%;
}

#boarder12 {
  left: 70%;
}

#boarder13 {
  left: 25%;
}

#boarder14 {
  left: 65%;
}


#boarder15 {
  left: 30%;
}

#boarder16 {
  left: 40%;
}

#boarder17 {
  left: 50%;
}

#boarder18 {
  left: 60%;
}

#bottomBoarder {
  top: 521.5px;
}
/*----------tiles----------*/

.rows {
  position: relative;
  display: block;
}

#topRow {
  top: 87px;
}

#hex1 {
  left: 35%;
}

#hex2 {
  left: 45%;
}

#hex3 {
  left: 55%;
}

#BelowTopRow {
  top: 174px;
}

#hex4 {
  left: 30%;
}

#hex5 {
  left: 40%;
}

#hex6 {
  left: 50%;
}

#hex7 {
  left: 60%;
}

#middleRow {
  top: 261px;
}

#hex8 {
  left: 25%;
}

#hex9 {
  left: 35%;
}

#hex10 {
  left: 45%;
}

#hex11 {
  left: 55%;
}

#hex12 {
  left: 65%;
}

#AboveBottomRow {
  top: 348px;
}

#hex13 {
  left: 30%;
}

#hex14 {
  left: 40%;
}

#hex15 {
  left: 50%;
}

#hex16 {
  left: 60%;
}

#bottomRow {
  top: 435px;
}

#hex17 {
  left: 35%;
}

#hex18 {
  left: 45%;
}

#hex19 {
  left: 55%;
}
