body {
  margin: auto;
  max-width: 100%;
}

#roadSelection {
  width: 200px;
  font-size: .8em;
  position: fixed;
  top: 0;
  left: 0;
}

#buildingSelection {
  width: 200px;
  font-size: .8em;
  position: fixed;
  top: 0;
  right: 0;
}

.tiles {
  position: absolute;
  display: inline-block;

}


.imageSize {
  max-width: 100px;
}

#main-header {
  text-align: center;
}


.upperBuilding {
  position: absolute;
  top: -8px;
  right: 40px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  z-index: 30;
  display: inline;
}

.topRightBuilding {
  position: absolute;
  top: 18px;
  left: 91px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  z-index: 30;
  display: inline;
}

.topLeftBuilding {
  position: absolute;
  top: 18px;
  left: -11px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  z-index: 30;
  display: inline;
}

.bottomRightBuilding {
  position: absolute;
  top: 78px;
  left: 91px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  z-index: 30;
  display: inline;
}

.bottomLeftBuilding {
  position: absolute;
  top: 78px;
  left: -11px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  z-index: 30;
  display: inline;
}

.bottomBuilding {
  position: absolute;
  top: 103px;
  right: 40px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  z-index: 30;
  display: inline;
}

.leftRoad {
  position: absolute;
  left: -2px;
  top: 35px;
  height: 45px;
  width: 5px;
  z-index: 20;
  display: inline;
}

.rightRoad {
  position: absolute;
  left: 97.5px;
  top: 35px;
  height: 45px;
  width: 5px;
  z-index: 20;
  display: inline;
}

.topLeftRoad {
  position: absolute;
  left: 23px;
  top: -8px;
  height: 45px;
  width: 5px;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}

.topRightRoad {
  position: absolute;
  left: 73px;
  top: -8px;
  height: 45px;
  width: 5px;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

.bottomLeftRoad {
  position: absolute;
  left: 23px;
  top: 78px;
  height: 45px;
  width: 5px;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

.bottomRightRoad {
  position: absolute;
  left: 73px;
  top: 78px;
  height: 45px;
  width: 5px;
  z-index: 20;
  display: inline;
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}

#topRow {
  position: relative;
  display: block;
  top: 87px;
}

#topBoarder {
  position: relative;
  display: block;
  top: 0px;
}

#boarder1 {
  left: 30%;
}

#boarder2 {
  left: 40%;
}

#boarder3 {
  left: 50%;

}

#boarder4 {
  left: 60%;
}

#boarder5 {
  left: 25%;
}

#xy31 {
  left: 35%;
}

#xy41 {
  left: 45%;
}

#xy51 {
  left: 55%;
}

#boarder6 {
  left: 65%;
}

#BelowTopRow {
  position: relative;
  display: block;
  top: 174.5px;
}

#boarder7 {
  left: 20%;
}

#xy22 {
  left: 30%;
}

#xy32 {
  left: 40%;
}

#xy42 {
  left: 50%;
}

#xy52 {
  left: 60%;
}

#boarder8 {
  left: 70%;
}

#middleRow {
  position: relative;
  display: block;
  top: 261px;
}

#boarder9 {
  left: 15%;
}

#xy13 {
  left: 25%;
}

#xy23 {
  left: 35%;
}

#xy33 {
  left: 45%;
}

#xy43 {
  left: 55%;
}

#xy53 {
  left: 65%;
}

#boarder10 {
  left: 75%;
}

#AboveBottomRow {
  position: relative;
  display: block;
  top: 348.5px;
}

#boarder11 {
  left: 20%;
}

#xy14 {
  left: 30%;
}

#xy24 {
  left: 40%;
}

#xy34 {
  left: 50%;
}

#xy44 {
  left: 60%;
}

#boarder12 {
  left: 70%;
}

#bottomRow {
  position: relative;
  display: block;
  top: 435.5px;
}

#boarder13 {
  left: 25%;
}

#xy15 {
  left: 35%;
}

#xy25 {
  left: 45%;
}

#xy35 {
  left: 55%;
}

#boarder14 {
  left: 65%;
}

#bottomBoarder {
  position: relative;
  display: block;
  top: 522px;
}

#boarder15 {
  left: 30%;
}

#boarder16 {
  left: 40%;
}

#boarder17 {
  left: 50%;
}

#boarder18 {
  left: 60%;
}

#gameBoard {
    width: 1000px;
    max-width: 100%;
}

.check {
  position: absolute;
  left: 15px;
  top: 25px;
  height: 65px;
  width: 75px;
  background-color: transparent;
  z-index: 70;
  display: inline;
}



.numberTile {
  position: absolute;
  left: 27px;
  top: 37px;
  height: 45px;
  width: 45px;
  background-color: black;
  color: white;
  border-radius: 100%;
  z-index: 50;
  display: inline;
  text-align: center;
  line-height: 45px;
}

.number8, .number6 {
  color: red;
}

#rollDice {
  position: fixed;
  top: 50%;
  left: 0;
}
#currentPlayer {
  height: 100px;
  width: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
}

#bakingRequirements {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 290px;
}

#moveThief {
  position: fixed;
  top: 40%;
  right: 3%;
}

#thief {
  z-index: 10000;
}
.bakingInstructions {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
