#playerNumberContainer {
  width: 100%;
  text-align: center;
}

.playerNumber {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #FF6969;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 2em;
  display: inline-block;
  margin: 40px;
  font-family: Arial Black, Arial Bold, Gadget, sans-serif;
}

.playerNumber:hover {
  background-color: #45B0E5;
  cursor: pointer;
}

.characterImages {
  width: 50px;
  vertical-align: middle;
  padding: 10px;
  margin: 10px;
}

#king {
  background-color: rgb(250, 161, 17);
}

#queen {
  background-color: rgb(202, 55, 55);
}

#lord {
  background-color: rgb(102, 173, 229);
}

#gloppy {
  background-color: rgb(121, 82, 51);
}
