body {
  max-width: 80%;
  margin: auto;
}

header {
  max-width: 100%;
  text-align: center;
}

.title {
  text-align: center;
}

.main-header {
  text-align: center;
  display: block;
}
.nav {
  font-size: 1.5em;
  margin: auto;
  list-style: none;
  text-align: center;
  padding: 0px;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}
